/*== Table of Contents ==============================================================*/
	/*#Base 960 Grid
	#Tablet (Portrait)
	#Mobile (Landscape)
	#Mobile (Portrait)
	#Clearing */

/*== Base 960 Grid ==================================================================*/
	/*Styles*/
	.wrapper{width: 100%; overflow: hidden; position: relative;}
	.extra-wrap{overflow: hidden; display: block;}
	.last-child{margin-right: 0 !important; margin-bottom: 0 !important;}
	.fleft{float:left;}
	.fright{float:right;}
	
	.container_12{position: relative; width: 960px; margin: 0 auto; padding: 0;}
	.grid_1,
	.grid_2,
	.grid_3,
	.grid_4,
	.grid_5,
	.grid_6,
	.grid_7,
	.grid_8,
	.grid_9,
	.grid_10,
	.grid_11,
	.grid_12,
	.dgrid_2,
	.dgrid_3,
	.dgrid_4,
	.tgrid_2,
	.tgrid_3	{float: left; margin-left: 10px; margin-right: 10px;}

	/* Nested Column Classes */
	.alpha		{margin-left: 0 !important;}
	.omega		{margin-right: 0 !important; margin-bottom: 0 !important}

	/* Base Grid */
	.grid_1		{width: 60px; }
	.grid_2		{width: 140px;}
	.grid_3		{width: 220px;}
	.grid_4		{width: 300px;}
	.grid_5		{width: 380px;}
	.grid_6		{width: 460px;}
	.grid_7		{width: 540px;}
	.grid_8		{width: 620px;}
	.grid_9		{width: 700px;}
	.grid_10	{width: 780px;}
	.grid_11	{width: 860px;}
	.grid_12	{width: 940px;}
	
	/*Twin Columns*/
	.dgrid_2	{width: 140px;}
	.dgrid_3	{width: 220px;}
	.dgrid_4	{width: 300px;}
	
	/*Triple Columns*/
	.tgrid_2	{width: 140px;}
	.tgrid_3	{width: 220px;}

	/* Prefix Extra Space >> 12 Columns */
	.prefix_1 	{padding-left: 80px;}
	.prefix_2 	{padding-left: 160px;}
	.prefix_3 	{padding-left: 240px;}
	.prefix_4 	{padding-left: 320px;}
	.prefix_5 	{padding-left: 400px;}
	.prefix_6 	{padding-left: 480px;}
	.prefix_7 	{padding-left: 560px;}
	.prefix_8 	{padding-left: 640px;}
	.prefix_9 	{padding-left: 720px;}
	.prefix_10 	{padding-left: 800px;}
	.prefix_11 	{padding-left: 880px;}

	/* Suffix Extra Space >> 12 Columns */
	.suffix_1 	{padding-right: 80px;}
	.suffix_2 	{padding-right: 160px;}
	.suffix_3 	{padding-right: 240px;}
	.suffix_4 	{padding-right: 320px;}
	.suffix_5 	{padding-right: 400px;}
	.suffix_6 	{padding-right: 480px;}
	.suffix_7 	{padding-right: 560px;}
	.suffix_8 	{padding-right: 640px;}
	.suffix_9 	{padding-right: 720px;}
	.suffix_10 	{padding-right: 800px;}
	.suffix_11 	{padding-right: 880px;}

/*== Tablet (Portrait, 768px) =======================================================*/
@media only screen and (max-width: 959px) {
	/*Styles*/
	html, body{min-width: 768px !important;}
	img{width: 100%; height: auto;}
	.hide-tp{display: none !important;}
	.show-tp{display: block !important;}
	.fnone-tp{float: none !important; margin-right: 0 !important; margin-left: 0 !important; margin-bottom: 20px !important;}
	.clear-tp{display: block; clear: both !important; padding-top: 20px !important;}
	.nowrap-tp{overflow: visible !important;}
	.fleft:not(.fnone-tp) img, .fright:not(.fnone-tp) img{width:auto;}
	
	.container_12	{width: 768px;}
	.grid_1		{width: 44px;}
	.grid_2		{width: 108px;}
	.grid_3		{width: 172px;}
	.grid_4		{width: 236px;}
	.grid_5		{width: 300px;}
	.grid_6		{width: 364px;}
	.grid_7		{width: 428px;}
	.grid_8		{width: 492px;}
	.grid_9		{width: 556px;}
	.grid_10	{width: 620px;}
	.grid_11	{width: 684px;}
	.grid_12	{width: 748px;}
	
	/*Twin Columns*/
	.dgrid_2	{width: 108px;}
	.dgrid_3	{width: 172px;}
	.dgrid_4	{width: 236px;}
	/*Triple columns*/
	.tgrid_2	{width: 108px;}
	.tgrid_3	{width: 172px;}

	/* Prefix Extra Space >> 12 Columns */
	.prefix_1 	{padding-left: 64px;}
	.prefix_2 	{padding-left: 128px;}
	.prefix_3 	{padding-left: 192px;}
	.prefix_4 	{padding-left: 256px;}
	.prefix_5 	{padding-left: 320px;}
	.prefix_6 	{padding-left: 384px;}
	.prefix_7 	{padding-left: 448px;}
	.prefix_8 	{padding-left: 512px;}
	.prefix_9 	{padding-left: 576px;}
	.prefix_10 	{padding-left: 640px;}
	.prefix_11 	{padding-left: 704px;}
	/* Suffix Extra Space >> 12 Columns */
	.suffix_1 	{padding-right: 64px;}
	.suffix_2 	{padding-right: 128px;}
	.suffix_3 	{padding-right: 192px;}
	.suffix_4 	{padding-right: 256px;}
	.suffix_5 	{padding-right: 320px;}
	.suffix_6 	{padding-right: 384px;}
	.suffix_7 	{padding-right: 448px;}
	.suffix_8 	{padding-right: 512px;}
	.suffix_9 	{padding-right: 576px;}
	.suffix_10 	{padding-right: 640px;}
	.suffix_11 	{padding-right: 704px;}
}


/*== Mobile (Landscape, 480px) =======================================================*/
@media only screen and (max-width: 767px) {
	/*Styles*/
	html, body{min-width: 420px !important;}
	.main{width:460px;}
	.last-col{margin-bottom: 0 !important;}
	.hide-ml{display: none !important;}
	.show-ml{display: block !important;}
	.fnone-ml{float: none !important; margin-right: 0 !important;  margin-left: 0 !important; margin-bottom: 20px !important;}
	.clear-ml{display: block; clear: both !important; padding-top: 20px !important;}
	.nowrap-ml{overflow: visible !important;}
	.fleft:not(.fnone-ml) img, .fright:not(.fnone-ml) img{width:auto;}
	
	.container_12 {width: 420px;}
	.grid_1,
	.grid_2,
	.grid_3,
	.grid_4,
	.grid_5,
	.grid_6,
	.grid_7,
	.grid_8,
	.grid_9,
	.grid_10,
	.grid_11{width: 100%; margin-left: 0; margin-right: 0; margin-bottom: 30px;}
	.grid_12{width: 100%; margin-left: 0; margin-right: 0;}

	/*Twin Columns*/
	.dgrid_2, .dgrid_3, .dgrid_4{width: 200px;}

	/*Triple Columns*/
	.tgrid_2, .tgrid_3{width: 126px;}
	
	/* Prefix Extra Space >> 12 Columns */
	.prefix_1,
	.prefix_2,
	.prefix_3,
	.prefix_4,
	.prefix_5,
	.prefix_6,
	.prefix_7,
	.prefix_8,
	.prefix_9,
	.prefix_10,
	.prefix_11{padding-left: 0;}

	/* Suffix Extra Space >> 12 Columns */
	.suffix_1,
	.suffix_2,
	.suffix_3,
	.suffix_4,
	.suffix_5,
	.suffix_6,
	.suffix_7,
	.suffix_8,
	.suffix_9,
	.suffix_10,
	.suffix_11{padding-right: 0;}
}


/*== Mobile (Portrait, 320px) =======================================================*/
@media only screen and (max-width: 479px) {
	/*Styles*/
	html, body{min-width: 320px !important;}
	.main{width:320px;}
	.hide-mp{display: none !important;}
	.show-mp{display: block !important;}
	.fnone-mp{float: none !important; margin-right: 0 !important; margin-left: 0 !important; margin-bottom: 20px !important;}
	.clear-mp{display: block; clear: both !important; padding-top: 20px !important;}
	.nowrap-mp{overflow: visible !important;}
	.fleft:not(.fnone-mp) img, .fright:not(.fnone-mp) img{width:auto;}
	
	.container_12 {width: 300px;}
	
	/*Twin Columns*/
	.dgrid_2{width: 140px;}
	.dgrid_3, .dgrid_4{float:none; width: 300px; margin-right: 0; margin-bottom: 30px;}

	/*Tripple Columns*/
	.tgrid_2{width: 90px; margin-right: 15px;}
	.tgrid_3{float:none; width: 300px; margin-right: 0; margin-bottom: 30px;}
}


/* #Clearing
================================================== */

	/* Self Clearing Goodness */
	.container_12:after {content: "\0020"; display: block; height: 0; clear: both; visibility: hidden;}

	/* Use clearfix class on parent to clear nested columns,
	or wrap each row of columns in a <div class="row"> */
	.clearfix:before,
	.clearfix:after,
	.row:before,
	.row:after {
		content: '\0020';
		display: block;
		overflow: hidden;
		visibility: hidden;
		width: 0;
		height: 0;}
	.row:after, .clearfix:after {clear: both;}
	.row, .clearfix {zoom: 1;}

	/* You can also use a <br class="clear" /> to clear columns */
	.clear {
		clear: both;
		display: block;
		overflow: hidden;
		visibility: hidden;
		width: 0;
		height: 0;
	}